.form {
    font-size: 20px;
    color: var(--clr-light-violet);
    margin: 0 auto;
    padding: 2rem 4rem;
    background-color: var(--clr-light-bgn);
    max-width: 70%;
    border-radius: 14px;
}

.heading {
    text-align: center;
}

.input {
    display: block;
    background-color:var(--clr-dark-bgn);
    border: none;
    border-bottom:2px solid var(--clr-light-violet);
    border-radius: 8px;
    width: 600px;
    height: 30px;
    color: var(--clr-light-text);
    font-size: 18px;
    padding: 1px 8px;

}

.icon {
    font-size: 17px;
    color: var(--clr-light-text);
}