.section {
    margin-bottom: 5rem;
}

.title-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 3rem;
    align-items: center;
    gap: 1rem;

}

.devider {
    height: 100%;
    width: 4px;
    border-radius: 3px;
    background-color: var(--clr-primary);
    position: absolute;
}

.title {
    color: var(--clr-white);
    font-size: 2rem;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);
    margin-left: 1.1rem;
}

.title-wrapper i {
 margin-top: 0.3rem;
 color:  var(--clr-primary);
 font-size: 2rem;
}

.watchlist {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    gap: 2.6rem;

}

.no-results {
    color: var(--clr-white);
    font-size: 1.5rem;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:1570px) {
    .watchlist {
        gap: 2.2rem;
    }

}


@media screen and (max-width:1460px) {
    .watchlist {
        gap: 1.7rem;
    }

}

@media screen and (max-width:1355px) {
    .watchlist {
        gap: 1.3rem;
    }

}

@media screen and (max-width:1075px) {
    .watchlist {
        gap: 1rem;
    }

}
@media screen and (max-width:890px) {
    .watchlist {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.8rem;
    }

}

@media screen and (max-width:790px) {
    .watchlist {
        gap: 3rem;
    }

}