.modal {
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease-in-out scale 0.6 ease-in-out;
}

.modal.active {
    visibility: visible;
}

.modal.inactive {
    visibility: hidden;
}




.modal-content {
    background-color: var(--clr-dark-grey);
    padding: 2rem;
    border: 1px solid var(--clr-dark-grey);
    border-radius: 0.6rem;
    width: 600px;
    scale: 0;
    transition: all 0.8s ease-in-out;
    margin: 15% auto;
    text-align: center;
}

.modal.inactive .modal-content {
    scale: 0;
    opacity: 0;
}

.modal.active .modal-content {
    scale: 1;
    opacity: 1;
}

.title {
    color: var(--clr-white);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.title.yellow {
    color: var(--clr-secondary);
    margin-bottom: 0.5rem;
}

.close {
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-grey);
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0.6rem;
    transition: all 0.5s ease-in-out;
}


.close:hover,
.close:focus {
    scale: 1.2;
    color: var(--clr-primary);
    text-decoration: none;
    cursor: pointer;
}

.star-rating {
    margin-bottom: 1.5rem;
}

.star-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.star i {
    color: var(--clr-secondary);
    font-size: 1.4rem;
}

.action-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rate-btn {
    width: 170px;
}


button.remove-rate-btn {
    width: 170px;

    border-color: transparent;
    background-color: transparent;
    color: var(--clr-primary);
    font-size: 1rem;
    font-weight: 600;
}

.remove-rate-btn:hover {
    border-color: var(--clr-primary);
}

