.top-ten-article .wrapper {
    display: flex;
    position: relative;
    width: 20rem;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    
}

.top-ten-article .wrapper:hover {
    scale: 1.05;
    
}

.number {
    position: relative;
    left: -14%;
    object-fit: cover;
    width: 100%;
}

.show-img-wrapper {
    width: 60%;
    left: 47%;
    position: absolute;
    border-radius: 0.4rem;
    overflow: hidden;
}

.show-img {
    width: 12rem;
    height: 18rem;
    object-fit: cover;
}

@media screen and (max-width: 519px) {
    .number {
        width: 85%;
    }

    .top-ten-article .wrapper {
        width: 19rem;
    }

    .show-img {
        width: 11rem;
        height: 16rem;
    }
}


@media screen and (max-width: 410px) {


    .top-ten-article .wrapper {
        width: 18rem;
    }

    .show-img {
        width: 10rem;
        height: 14rem;
    }
}

@media screen and (max-width: 376px) {


    .top-ten-article .wrapper {
        width: 17rem;
    }

    .show-img {
        width: 9rem;
        height: 13rem;
    }
}