.scroll-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: all 0.6s ease-in-out;
    visibility: hidden;
    z-index: 99;
}

.scroll-to-top i {
    color: var(--clr-white);
    font-size: 1.5rem;
}

.scroll-to-top.visible {
    visibility: visible;
}

.scroll-to-top.hidden {
    visibility: hidden;
}

@media screen and (max-width:1220px) {
    .scroll-to-top {
        right: 1.5rem;
    }  
}