.scroll-to-top-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: all 0.4s ease-in;
    z-index: 99;
}


.scroll-to-top i {
    color: var(--clr-white);
    font-size: 1.5rem;
}

.scroll-to-top.visible {
    visibility: visible;
    opacity: 1;
}

.scroll-to-top.hidden {
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width:1220px) {
    .scroll-to-top {
        right: 1.5rem;
    }  
}