@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

:root {
    --clr-primary: #f02f2f;
    --clr-secondary: #F7BB0E;
    --clr-white: #F6F6F6;
    --clr-dark-bgn: #19181b;
    --clr-black-bgn: #161616e5;
    --clr-grey: #acacac;
    
}

body {
    margin: 0;
    padding: 0;
    /* font-size: 0; */
    font-family: 'Roboto Slab', serif;
    background-image: url("../public/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

