/* .section {
    font-size: 20px;
    color: var(--clr-white);
    margin: 0 auto;
    padding: 2rem 4rem;
    background-color: var(--clr-dark-grey);
    max-width: 50%;
    border-radius: 14px;
}

.heading {
    text-align: center;
    margin-bottom: 4rem;
}

.input {
    background-color:rgba(104, 104, 104, 0.815);;
    border: none;
    border-bottom:3px solid var(--clr-dark-text);
    border-radius: 8px;
    width: 600px;
    height: 30px;
    color: var(--clr-dark-text);
    font-size: 18px;
    padding: 1px 8px;
    margin-bottom: 0.3rem;

}

.textarea {
    height: 200px;
}

.input-radio {
    margin-right: 0.3rem;

}

.icon {
    font-size: 17px;
    color: var(--clr-light-text);
}

.label {
    display: block;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    color: var(--clr-secondary);
}

.form button {
    margin-right: 0.4rem;
    margin-bottom: 1rem;
}

.form .submit-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
} */