/* HOME SHOW CARD */

.home-card-wrapper {
    position: relative;
    transition: scale 0.6s ease-in-out;
}


.home-card {
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.6rem;
    background-color: var(--clr-dark-bgn);
    height: 24rem;
    width: 13rem;
}

.home-card-wrapper:hover {
    scale: 1.06;
}

.home-card .home-img-container {
    flex-basis: 80%;
    overflow: hidden;
    width: 100%;

}

.home-card .home-img-container img {
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.home-add, .home-remove {
    position: absolute;
    right: 0;
    background-color: var(--clr-dark-grey);
    padding: 0.5rem 0.7rem;
    border-end-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    border: none;
    top: 0;
    font-size: 1.5rem;
    transition:all 0.6s ease-in-out;
    cursor: pointer;
}

.home-add {
color: var(--clr-secondary);
}

.home-remove {
    color: var(--clr-primary);
}

.home-add:hover, .home-remove:hover {
    background-color: var(--clr-dark-bgn);
}

.home-card .home-content {
    padding: 0.7rem;
    flex-basis: 20%;
}

.home-card .home-rating {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.home-rating i {
    color: var(--clr-secondary);
}

.home-title {
    font-weight: 700;
}

.home-card .home-show-info .home-title,
.home-year {
    margin-bottom: 0.5rem;
}



/* CATALOG SHOW CARD */
.catalog-add, .catalog-remove {
    /* position: absolute; */
    right: 0;
    z-index: 10;
    background-color: var(--clr-black-bgn);
    /* background:radial-gradient(circle, rgb(36, 36, 36) 0%, rgba(41, 41, 41, 0.6) 100%); */
    padding: 0.5rem 0.7rem;
    border-end-end-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: none;
    top: 0;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.6s ease-in-out;

}

.catalog-add {
    color: var(--clr-secondary);
}

.catalog-remove {
    color: var(--clr-primary);
}


.catalog-add:hover, .catalog-remove:hover {
    background-color: var(--clr-grey);
    background-color: var(--clr-dark-grey);

}


.catalog-card-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
}

.catalog-card {
    color: var(--clr-white);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    background-color: var(--clr-black-bgn);

    height: 17rem;
    width: 60rem;
}

.catalog-img-container {
    overflow: hidden;
    width: 12rem;

}

.catalog-img-container img {
    overflow: hidden;
    object-fit: cover;
    width: 8rem;
    border-radius: 7px;
    padding-left: 2rem;
    padding-top: 1.3rem;
}



.catalog-content {
    padding: 1.2rem;
    padding-right: 5rem;
    width: 48rem;
}

.catalog-rating {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.catalog-rating i {
    color: var(--clr-secondary);
}


.title-wrapper {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.catalog-title,
.catalog-year {
    font-size: 1.5rem;
    color: var(--clr-secondary);
}

.catalog-year {
    color: var(--clr-white);
}



.catalog-title,
.catalog-year,
.duration {
    margin-bottom: 0.6rem;
}

.genres {
    margin: 1.5rem 0 2rem 0;
    color: var(--clr-grey);
    display: flex;
    flex-wrap: wrap;
}

.genres .genre {
    background: radial-gradient(circle, rgb(36, 36, 36) 0%, rgba(41, 41, 41, 0.6) 100%);
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
    margin-right: 0.7rem;
    margin-bottom: 0.3rem;
}

.desc {
    font-size: 1rem;
    word-break: break-all;
    word-wrap:break-word;
}

@media screen and (max-width:1680px) {
    .home-card {
        height: 25rem;
        width: 14rem;
    }
}

@media screen and (max-width:1615px) {
    .home-card {
        height: 24.6rem;
        width: 13.6rem;
    }
}

@media screen and (max-width:1550px) {
    .home-card {
        height: 24rem;
        width: 13rem;
    }
}

@media screen and (max-width:1450px) {
    .home-card {
        height: 23.6rem;
        width: 12.6rem;
    }
}

@media screen and (max-width:1400px) {
    .home-card {
        height: 23rem;
        width: 12rem;
    }
}

@media screen and (max-width:1300px) {
    .home-card {
        height: 21rem;
        width: 11.2rem;
    }
}

@media screen and (max-width:1100px) {
    /* .home-card {
        height: 19rem;
        width: 10.5rem;
    }  */
    .catalog-img-container img {
        padding-left: 1rem;
    }
    .catalog-card-wrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .catalog-card {
        width: 100%;
    }
    .catalog-content {
        padding: 1.2rem;
        padding-right: 5rem;
        width: 100%;
    } 
}

@media screen and (max-width:950px) {
    .home-card {
        height: 19rem;
        width: 10.5rem;
    }
    .home-card .home-content {
        flex-basis: 18%;
    }
   
}

@media screen and (max-width:890px) {
    .home-card {
        height: 25rem;
        width: 14rem;
        margin-bottom: 1rem;
    }
    .home-card .home-content {
        flex-basis: 17%;
    }
    
    
}

@media screen and (max-width:790px) {
    .home-card {
        height: 27rem;
        width: 17rem;
    }
    
    .catalog-card-wrapper {
        width: 100%;
    }

    .catalog-content {
        padding-right: 2rem;
    } 

}

/* @media screen and (max-width:768px) {
    .home-card {
        height: 17.5rem;
        width: 9rem;
    }

}

@media screen and (max-width:728px) {
    .home-card {
        height: 17.2rem;
        width: 8.6rem;
    }

} */
@media screen and (max-width:728px) {
    .catalog-img-container img {
        width: 7rem;
    }
    .genres {
        margin: 1rem 0 0.5rem 0;
    }
    .catalog-content {
        padding-right: 1rem;
    } 

}
